body {
 background-color: #fff;
 padding:0;
}

h3 {
  color: #3f51b5;
}

.n-appbar {
  background-color:#fff!important;
}

.n-appbar a {
  font-weight: 400;
  font-size: 18px;
  color: #3f51b5;
  text-decoration: none;
}

.c-fullImage {
  background: url("https://cdn.pixabay.com/photo/2020/03/15/18/36/hands-4934590_960_720.jpg"), linear-gradient(to bottom, #4ac425, #4ac425);
  height: 500px;
  background-size: cover;
  background-position: center;
}

.c-information {
  padding: 20px;
}

.c-footer {
  background: #330867;
  height: 200px
}